/* App.css */

.App {
  box-sizing: border-box;
  max-width: 462px;
  height: 844px;
  margin: 0 auto;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}
