/* App.css */

.App {
  text-align: center;
  transition: background-color 0.3s ease;
  min-height: 100vh;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}
